<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Ltudql_2017.Properties.Settings.QuanLyKhachSanDBConnectionString"
        connectionString="Data Source=.;Initial Catalog=QLKS;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>